<h1>
    Page Todos list (also by listId: {{list.id}})
</h1>

<h2>
    {{list.name}}
</h2>

{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">
            {{this}}            
        </div>        
    {{/each}}
{{/if}}

{{#if messages}}
    {{#each messages}}
        <div class="alert alert-success">
            {{this}}
            successo
        </div>        
    {{/each}}
{{/if}}


{{#if todos}}

<ul>
    {{!-- HELPER hi handlebars --}}
    {{#each todos}}
        <li>
            
            {{this.todo}}
            
        </li>        
    {{/each}}
</ul>

{{else}}
    <h5>
    
        No todos found
        
    </h5>
{{/if}}